:root{
            /* ********Header colors******* */
    --header-bg-color:#00616433;
    --footer-bg-color: whitesmoke;
    --header-btn-color: rgb(77, 77, 77);
    --header-search-border: rgb(160, 157, 157);
    --header-search-bg-color: whitesmoke;
}